.rootGeoTrendWidgetComponent {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  flex-wrap: wrap;
  padding: 20px;
}

.rootAnalyticsInternalComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.chartCustomLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.indianFlag {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#indCountryName {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.americanFlag {
  text-align: center;
  position: relative;
  color: #fffefe;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

#usCountryName {
  position: absolute;
  top: 12px;
  left: 7px;
  background-color: #00000061;
  width: 93%;
  height: 76%;
  opacity: 0;
}

.canadianFlag {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  cursor: pointer;
}

#cndCountryName {
  display: flex;
  justify-content: center;
}

.canadianFlag:hover .flipper,
  .canadianFlag.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.canadianFlag, .front, .back {
	width: 225px;
	height: 150px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}

.text-focus-in{-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
.text-blur-out{-webkit-animation:text-blur-out 1.2s cubic-bezier(.55,.085,.68,.53) both;animation:text-blur-out 1.2s cubic-bezier(.55,.085,.68,.53) both}



.indianFlag:hover .indCountryName
{
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.americanFlag:hover .usCountryName
{
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


/* Analytics CSS */

.anayticsHeader {
  width: 100%;
  height: 60px;
  background-color: rgb(33, 150, 243);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
  font-size: 45px;
  margin-bottom: 10%;
}

.closeLytics {
  cursor: pointer;
}
